/*------------------------------------------
	Reset (from the Yahoo UI Library)
------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}

/*------------------------------------------
  Base
------------------------------------------*/

a{
	outline: none;
	text-decoration: none;
	color: #ff5a5a;
}
strong{font-weight: bold;}
section{display:block;}

/*------------------------------------------
  Global Reusable Classes
------------------------------------------*/

.hide{display: none !important;}

/*------------------------------------------
	Structure
------------------------------------------*/
html{
	background: #fff url(../img/background.jpg);
}
body{
	border-top: 30px dashed #fff;
	background: url(../img/background_repeat.jpg) repeat-x;
	color: #b6b6b6;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	min-width: 320px;
}


#wrap{
	padding: 7% 0 0 10%;
	width: 80%;
	min-width: 320px;
	max-width: 580px;
	margin-bottom: 60px;
}
header{
	text-transform: uppercase;
	font-size: 36px;
	line-height: 1.2em;
	-webkit-text-stroke: .5px transparent;
	text-shadow: #9CCBFF 0 -1px 0;
	-webkit-transition: color .2s linear;
}
header h1{
	display: inline;
	color: #00CCFF;
}
header p{
	display: inline;
}
header em{
	text-shadow: #ccc 0 1px 20px;
	-webkit-transition: color .2s linear, text-shadow .2s linear;
}
header em:hover{
	color: #555;
	text-shadow: rgba(255,255,255,.5) 0 1px 20px;
}
section{display: block;}
#web{
	text-transform: uppercase;
	font-size: 20px;
	line-height: 2em;
	margin-bottom: .8em;
	color: #333;
	-webkit-text-stroke: .5px transparent;
	margin-top: 0px;
}
#web a{
	color: #9ccbff;
	border-bottom: 2px solid #0d0d0d;
	padding-bottom: 2px;
	text-shadow: rgba(255,255,255,0) 0 1px 10px;
	-webkit-transition: color .2s linear, border-bottom-color .2s linear, text-shadow .2s linear;
}
html:hover #web a{
	color: #00CCFF;
	border-bottom-color: #565446;
}
html:hover #web a:hover{
	color: #B6B6B6;
	border-color: #fff;
	text-shadow: rgba(255,255,255,.8) 0 1px 15px;
}
#links{
	border-top: 12px solid #ecff4f;
	padding: 20px 0;
}
#links ul li{
	display: inline;
}
#links ul li a{
	display: inline-block;
	margin-right: 20px;
	color: #999;
	width: 75px;
	height: 75px;
	text-indent: -9999px;
	background: #333 url(../img/icon_mail.png) no-repeat;
	-webkit-transition: background-color .2s linear;
}
#links ul li.tapbots a{background-image: url(../img/icon_tapbots.png);}
html:hover #links ul li a{background-color: #999;}
html:hover #links ul li a:hover{background-color: #fff;}
p.warning{
	font-size: 12px;
	text-transform: uppercase;
	background: #222324 url(../img/icon_warning.png) no-repeat 7px 50%;
	color: #c3c3c6;
	padding: 8px 10px 6px 30px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}